#---------------------------------------------------#
# 配置文件需要放置在 $HOME/.config/clash/config.yml
# 或者运行目录下的config.yml
#---------------------------------------------------#

port: 7890
socks-port: 7891
allow-lan: false
mode: Rule
log-level: silent
external-controller: 127.0.0.1:9090

dns:
  enable: true
  listen: 0.0.0.0:53
  ipv6: false
  default-nameserver: [202.96.128.166, 119.29.29.29]
  enhanced-mode: fake-ip
  fake-ip-range: 198.18.0.1/16
  use-hosts: true
  nameserver: ['https://106.52.218.142/verse', 'https://doh.apad.pro/dns-query']
  fallback: ['https://dns.twnic.tw/dns-query', 'https://public.dns.iij.jp/dns-query', 'https://doh.dns.sb/dns-query']
  fallback-filter: { geoip: true, geoip-code: CN, ipcidr: [240.0.0.0/4, 0.0.0.0/32] }

cfw-latency-timeout: 3000
cfw-latency-url: http://www.apple.com/library/test/success.html
